.qa_list_and_next {
  border: 1px solid green;
  border-radius: 8px;
  padding: 1em 2em;
  margin: 1em 0;
  position: relative;
  background-color: #fff;
  font-size: 14pt;
}

.qa_list_and_next ul {
  max-width: 85%;
}

.qa_list_and_next li {
  line-height: 1.6em;
}

.qa_list_and_next a.continue_btn {
  position: absolute;
  right: -1px;
  bottom: -1px;
  border: none;
  border-radius: 8px 0px;
}

.qa_list_and_next .continue_btn.btn-group {
  position: absolute;
  bottom: 1px;
  right: -1px;
}
.qa_list_and_next .continue_btn.btn-group .btn {
  position: relative;
}
.qa_list_and_next .continue_btn.btn-group .btn:first-child {
  border-radius: 8px 0 0 0;
}
.qa_list_and_next .continue_btn.btn-group .btn:last-child {
  border-radius: 0 0 8px 0;
}

.qa_images h3 {
  margin-top: 0;
}

.qa_images {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0;
  width: 100%;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.qa_img_wrapper {
  width: 100%;
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
}

.qa_img_wrapper img { /* <= optional, for responsiveness */
   display: block;
   max-width: 100%;
   height: auto;
}

.qa_img_wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
}

#qa_undistorted_guides {
  border: 1px solid #00ff00;
  position: absolute;
}

#qa_undistorted_guides {
  --dist_horizontal: 3%;
  --dist_vertical: 3%;
  top: var(--dist_vertical);
  bottom: var(--dist_vertical);
  left: var(--dist_horizontal);
  right: var(--dist_horizontal);
}

.qa_images li.example {
  position: relative;
  list-style: none;
  margin-bottom: 4px;
  max-width: 200px;
}
.qa_images li.example::after {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  font-size: 3rem;
  font-family: FontAwesome3;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
.qa_images li.example.good_example::after {
  content: "\f00c";
  color: #00d400;
}
.qa_images li.example.bad_example::after {
  content: "\f00d";
  color: red;
}

.qa_done_block {
  color: green;
  font-size: 7em;
  font-weight: bolder;
  text-align: center;
  margin: 1em 1em;
}

.qa_done_buttons {
  border: 1px solid green;
  border-radius: 8px;
  padding: 1em 2em;
  height: 2.3em;
  position: relative;
  text-align: center;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.print_btn i.icon-print {
  display: inherit !important;
}

.print_btn:disabled i.icon-print {
  display: none !important;
}

.print_btn i.icon-spinner {
  display: none !important;
}

.print_btn:disabled i.icon-spinner {
  display: inherit !important;
}

#qa_cameraalignment_image {
  width: 100%;
  min-height: 360px;
  background: url(/plugin/camera/static/img/calibration/calpic_wait.svg) center
    no-repeat;
  background-size: cover;
}

.marker_selection_desc {
  margin-top: 0em;
  margin-bottom: 1em;
  display: inline-block;
}

.marker_found_indicator {
  color: #ddd;
  display: inline-block;
  padding: 0 0.5em;
}
.marker_found_indicator.active {
  color: #000;
}



#lens_correction_image_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  width: 100%;
  /*max-height: 60vh;*/
  /*overflow-y: scroll;*/
}

.lens_correction_image_thumb {
  list-style-type: none;
  background: top center no-repeat;
  background-size: contain;
  background-color: #ddd;
  padding-top: 70%;
  margin: 0.5em;
  position: relative;
}
.lens_correction_image_thumb.zoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: black;
  margin: 0;
  background-size: 70%;
  z-index: 999;
}

.lens_correction_image_thumb i.status_icon {
  position: absolute;
  font-size: 4em;
  width: 100%;
  top: calc(50% - 2rem);
  left: 0;
  text-align: center;
}

#lens_correction_image_list .chessboard_cal_duration {
  padding: 0.5em 0.5em 0.1em;
  font-size: 10px;
  line-height: 12px;
}

#recalculate_lens_calibration_btn {
  height: 5em;
  margin-bottom: 20px;
  display: inline-block;
  right: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;
}

#lens_calibration_steps_and_heatmap {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#lens_calibration_steps_and_heatmap div {
  margin: 0 4% 0 0;
  position: relative;
}

