<div id="calibrationModeModal" class="modal hide fade">
    <div class="modal-header">
        <h3 class="modal-title">Error: Factory mode enabled</h3>
    </div>
    <div class="modal-body">
        <div>
            For more details about this error, please check <a>this article in our knowledge base.
        </a></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger btn-confirm">{{ _('Close') }}</button>
    </div>
</div>