<div id="calibrationModeModal" class="modal hide fade">
    <div class="modal-header">
        <h3 class="modal-title">Error: Factory mode enabled</h3>
    </div>
    <div class="modal-body">
        <div>
            {{ _('Please %(opening_tag)scontact the Mr Beam Support team%(closing_tag)s to get help with this error.',
            opening_tag='<a href="https://mr-beam.freshdesk.com/support/tickets/new" target="_blank">',
            closing_tag='</a>') }}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger btn-confirm">{{ _('Close') }}</button>
    </div>
</div>
